.hide0{
    opacity: 0;
}

#clockDiv{
    transition: all 1s ease;
}
.checkboxDone{
    text-decoration: line-through;
}
#remAllBtn{
    transition: all 1s ease;
}
#container {
	padding: 15px;
    margin-right: auto;
    margin-left: auto;
	width: 70%;
}
#clockBtn,#toDoBtn, .deleteBtn, #remAllBtn{
	color: #fff;
    background-color: #337ab7;
	border: none;
	border-radius: 5px;
	padding: 4px 13px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.19);
	outline: 0;
}
#clockBtn:hover, #toDoBtn:hover{
    box-shadow: inset 0 8px 16px 0px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#toDoBtn{
	background-color:#5cb85c;
}
.deleteBtn, #remAllBtn{
	background-color:#d9534f;
	padding: 3px 13px;
}
