.hide0{
    opacity: 0;
}

#clockDiv{
    transition: all 1s ease;
}
.checkboxDone{
    text-decoration: line-through;
}
#remAllBtn{
    transition: all 1s ease;
}
#container {
	padding: 15px;
    margin-right: auto;
    margin-left: auto;
	width: 70%;
}